@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Davetiye için kayıt ol!</h1>

   <p>Yapılacak olan etkinliğe katılmak için  <a asp-action="DavetiyeEkle">buradan</a>  davetiye kaydı oluşturunuz. </p>
   
</div>
